@import url(./__logo-zone/resourses__logo-zone.css);
@import url(./__logo/resourses__logo.css);
@import url(./__link/resourses__link.css);

.resourses {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
