@import url(./__brif/two-columns__brif.css);
@import url(./__main-text/two-columns__main-text.css);
@import url(./__paragraf/two-columns__paragraf.css);
@import url(./__span-accent/two-columns__span-accent.css);

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
